<div class="flex justify-center w-full">
	<%- include('infoCard', {
		pictureUrl: pictureUrl,
		width: 700,
		height: 700,
		title: title,
		cta: cta,
		titleClassName: 'md:text-5xl lg:text-7xl',
		wrapperClassName: 'max-h-[500px] lg:max-w-[1023px] lg:border-b-2 border-black'
	}) %>
</div>
