<div class="flex w-full justify-center space-y-3">
	<div class="space-y-3 lg:space-y-5 divide-black outline-1">
		<%- include('heroBlock', {
			pictureUrl: 'jumping-hres.jpeg',
			title: 'Ready, Set, Boxe !',
			cta: 'Je decouvre',
		}) %>
		<%- include('classesBlock') %>
		<%- include('pricingBlock') %>
	</div>
</div>

