<div class="bg-black w-full flex justify-center">
	<div class="py-2 text-white font-bold w-full flex justify-end max-w-screen-lg">
		<%- include('navElement', { url: '/', label: 'ACCUEIL' }) %>
		<%- include('navElement', { url: '/schedule', label: 'SESSIONS' }) %>
		<%- include('navElement', { url: '/prices', label: 'TARIFS' }) %>
		<%- include('navElement', { url: '/contact', label: 'CONTACT' }) %>
	</div>
</div>
