<!doctype html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8" />
		<link href="/index.out.css" rel="stylesheet">
		<script src="/htmx.umd.js"></script>
		<meta
				name="viewport"
				content="width=device-width, initial-scale=1"
				/>
	</head>
	<body class="bg-white">
			<%- include('partials/navBar') %>
			<%- include(children) %>
			<%- include('partials/footer') %>
	</body>
</html>

